<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <h2 class="text-center positive">You are</h2>
    <h1 class="text-center positive">{{cashLeft}}</h1>
    <h2 class="text-center positive">PLN left</h2>

    <div class="row">
      <button class="button button-block button-positive" ng-click="addNewBill($event)">
        <i class="icon ion-plus-round"></i> Add new bill
      </button>
    </div>

    <div class="list card" ng-show="imageUri">
      <div class="item item-image">
        <img src="{{imageUri}}">
      </div>
      <a class="item item-icon-left positive" href="#">
        Scan <i class="icon ion-ios-arrow-forward"></i>
      </a>
    </div>

    <div class="list card">
      <div class="item item-divider">Recent Bills</div>
      <div class="item item-body">
        <div ng-repeat="bill in recentBills">
          On <b>{{bill.date}}</b> you spent <b>{{bill.total}} {{bill.currency}}</b>
        </div>
      </div>
      <a class="item text-right positive" href="#" ng-click="alert()">
        See all bills <i class="icon ion-ios-arrow-forward"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
